body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  display: block;
  white-space: pre-wrap;
}

.left {
  text-align: left;
}

.currentTemp {
  display: block;
  font-size: 50px;
  font-weight: 400;
  /* color: rgb(255, 255, 255); */
}

.currentDataTable {
  width: 80%;
  float: right;
  position: relative;
  top: -100px;
}

.cards-container {
  overflow: auto;
}

.alert-float {
  width: 100%;
  float: left;
}
